.AudioP{
    width: 80%;
    margin-left: 10%;
    margin-right: 8%;
    height: 100px;
    /* padding-left: 2%;
    padding-right: 2%; */
    height: 80px;
    /* position: relative; */
    overflow: hidden;
    padding-top: 70px;
}

span{
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    /* border-radius: 50%; */
    height: 80px;
    width:80px;
    /* background-color: rgb(243, 0, 0); */
    float: left;
}


.up{
    width: 80%;
    padding-left: 100px;
    height: 30px;
    padding-top: 10px;

}
.time{
    float: left;
    padding-top: 4.5px;
    padding-left: 5px;
}
.play{
    float: left;
    margin: 0;
    padding: 0;
    font-size: 25px;
}
.volume{
    float: right;
    margin: 0;
    padding: 0;
    font-size: 22px;
    padding-top: 2px;
    margin-left: 10px;
    /* margin-right: 5px; */
    float: left;
}
.line{
    /* float: left; */
    height: 60px;
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.274); */
    /* border-radius: 3px; */
    margin-left: 95px;
}

h3{
    width: 80%;
    margin: 0;
    padding: 0;
    margin-left: 100px;
}

.but{
    width: 60px;
    /* height: 30px; */
    float: right;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    background: rgba(239,1,124,1);
    background: -moz-linear-gradient(left, rgba(239,1,124,1) 0%, rgba(194,0,155,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(239,1,124,1)), color-stop(100%, rgba(194,0,155,1)));
    background: -webkit-linear-gradient(left, rgba(239,1,124,1) 0%, rgba(194,0,155,1) 100%);
    background: -o-linear-gradient(left, rgba(239,1,124,1) 0%, rgba(194,0,155,1) 100%);
    background: -ms-linear-gradient(left, rgba(239,1,124,1) 0%, rgba(194,0,155,1) 100%);
    background: linear-gradient(to right, rgba(239,1,124,1) 0%, rgba(194,0,155,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef017c', endColorstr='#c2009b', GradientType=1 );
    width: fit-content;
    font-size: 15px;
    -webkit-box-shadow: 4px 4px 3px -1px rgba(115,0,100,0.68);
    -moz-box-shadow: 4px 4px 3px -1px rgba(115,0,100,0.68);
    box-shadow: 3px 3px 2px -1px rgba(115,0,100,0.68);
    cursor: pointer;
    transition: all 200ms;
    margin-right: 10px;
    margin-top: -8px;
}

.prises{
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 102%;
    margin-left: -3%;
    margin-top: -540px;
    background-color: rgba(255, 255, 255, 0.712);
    display: none;
}
.none{
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 102%;
    /* margin-left: -3%;
    margin-top: -540px; */
    top:0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.712);
    display: block;
}

.list{
    background: rgba(217,0,170,1);
    background: -moz-linear-gradient(-45deg, rgba(217,0,170,1) 0%, rgba(0,116,199,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(217,0,170,1)), color-stop(100%, rgba(0,116,199,1)));
    background: -webkit-linear-gradient(-45deg, rgba(217,0,170,1) 0%, rgba(0,116,199,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(217,0,170,1) 0%, rgba(0,116,199,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(217,0,170,1) 0%, rgba(0,116,199,1) 100%);
    background: linear-gradient(135deg, rgba(217,0,170,1) 0%, rgba(0,116,199,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d900aa', endColorstr='#0074c7', GradientType=1 );
    width: 60%;
    height: 60%;
    border-radius: 20px;
    position: absolute;
    left: 20%;
    top: 20%;
    padding-top: 1.5%;
}

.title{
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-left: 5%;
}


.bacic{
    width: 88%;
    height: fit-content;
    margin-left: 5%;
    margin-top: 2.5%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    font-size: 40px;
    color: rgb(128, 0, 100);
    padding-top: 10px;
    padding-bottom:  10px;
    padding-left: 2%;
}
.info{
    height: fit-content;
    padding: 5px;
    margin-top: 2.5%;
    width: 40%;
    margin-left: 30%;
    border-radius: 20px;
    background: rgba(239,1,124,1);
    background: -moz-linear-gradient(left, rgba(239,1,124,1) 0%, rgba(194,0,155,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(239,1,124,1)), color-stop(100%, rgba(194,0,155,1)));
    background: -webkit-linear-gradient(left, rgba(239,1,124,1) 0%, rgba(194,0,155,1) 100%);
    background: -o-linear-gradient(left, rgba(239,1,124,1) 0%, rgba(194,0,155,1) 100%);
    background: -ms-linear-gradient(left, rgba(239,1,124,1) 0%, rgba(194,0,155,1) 100%);
    background: linear-gradient(to right, rgba(239,1,124,1) 0%, rgba(194,0,155,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef017c', endColorstr='#c2009b', GradientType=1 );
    font-size: 35px;
    -webkit-box-shadow: 4px 4px 3px -1px rgba(115,0,100,0.68);
    -moz-box-shadow: 4px 4px 3px -1px rgba(115,0,100,0.68);
    box-shadow: 4px 4px 3px -1px rgba(115,0,100,0.68);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    float: left;
}

.buy{
    width: fit-content;
    height: fit-content;
    padding: 5px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    border-radius: 8px;
    margin-right: 15px;
    margin-top: 0px;
    cursor: pointer;
    float: right;
    background: rgba(239,1,124,1);
    background: -moz-linear-gradient(left, rgba(239,1,124,1) 0%, rgba(194,0,155,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(239,1,124,1)), color-stop(100%, rgba(194,0,155,1)));
    background: -webkit-linear-gradient(left, rgba(239,1,124,1) 0%, rgba(194,0,155,1) 100%);
    background: -o-linear-gradient(left, rgba(239,1,124,1) 0%, rgba(194,0,155,1) 100%);
    background: -ms-linear-gradient(left, rgba(239,1,124,1) 0%, rgba(194,0,155,1) 100%);
    background: linear-gradient(to right, rgba(239,1,124,1) 0%, rgba(194,0,155,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef017c', endColorstr='#c2009b', GradientType=1 );
}

.close{
    width: 50px;
    height: 50px;
    border-radius:50%;
    position: absolute;
    top: 10px;
    right: 15px;
}

.closeBut{
    width: 100%;
    height: 100%;
    counter-reset: white;
    transition: all 200ms;
}

.close :hover{
    color: rgb(224, 1, 116);
    transition: all 200ms;
}


.audio-player {
    /* background-color: #b7b7b7; */
    filter: invert(100%);
  }

.player-img{
    height: 1.5rem !important;
}
/* 
.audio-player-track-name{
    display: none;
} */

.audio-player-seeker {
    padding-right: 5px;
}



.photo{
    background-image: url(../photos/bogdan2.jpg);
}

.photo1{
    background-image: url(../photos/1.jpg);
}

.photo2{
    background-image: url(../photos/YS.jpg);
}

.photo3{
    background-image: url(../photos/6.jpg);
}