.Beats{
    margin: 0;
    padding: 0%;
    height: fit-content;
    padding-bottom: 90px;
    padding-top: 50px;
    background-color: black;
}

.Audio{
    margin-top: 29px;
}

hr{
    width: 80%;
}

